<body>
  <h3>Ideas!</h3>
  <% @ideas.each do |idea| %>
  <%= idea.title %>
  <%= idea.body %>
  <% end %>
  <p><%= link_to "Create a New Idea", new_user_idea_path(current_user) %> </p>
  <p><%= link_to "Back to #{current_user.username} homepage", user_path(current_user) %></p>
</body>
