<h1>Welcome Admin!!</h1>
<%= link_to "Create Image", new_admin_image_path %><br>
<%= link_to "Create Category", new_admin_category_path %><br>
<br><br>
<%= link_to "Image Index", admin_images_path %><br>
<%= link_to "Category Index", admin_categories_path %>
